#main {
  text-align: center;
}

svg {
  background-color: whitesmoke;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}
#legend-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  border: 3px solid red;
}
