#main {
  text-align: center;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
  background-color: whitesmoke;
}
#legend-section {
  border: 2px solid red;
  background-color: yellow;
}

#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.6);
  width: 300px;
  color: #fff;
  padding: 10px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;

  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 10px;
}
